<div class="p-6 mx-auto mt-5 shadow mb-5 bg-body rounded grid h-[max]">
    <div class="bg-dark text-center" style="--bs-bg-opacity: .75;">
        <h4 class="mt-2 fw-bold text-monospace">
            <%= @portfolio.stock_symbol %> 
        </h4> 
        <p>
            <%= Stock.find_by(stock_symbol: @portfolio.stock_symbol).comp_name%>
        </p>
        <span class="bg-dark rounded-pill p-2 position-absolute top-0 end-0 mt-2 me-2">
            <%= @portfolio.quantity %>
        </span>
    </div>
    <div class= "mb-6" >
        <div class="flex">
            <p class="fw-bold mx-3">
                Latest Price:
            </p>
            <p class="fw-bold">
                <%= @portfolio.access_quote.latest_price %>
            </p>
        </div>
        <div class="flex">
            <p class=" fw-bold mx-3">
                Total Value:
            </p>
            <p class="fw-bold"> 
                <%= @portfolio.total_value%>
            </p>
        </div>
        <div class="flex">
            <p class=" fw-bold mx-3">
                First Transaction:
            </p>
            <p class="text-dark", style="--bs-text-opacity: .75;"> 
                <%= @portfolio.created_at.strftime("%A, %B %d, %Y at %I:%M %p")%>
            </p>
        </div>
        <div class="flex">
            <p class=" fw-bold mx-3">
                Last Transaction:
            </p>
            <p class="text-dark", style="--bs-text-opacity: .75;"> 
                <%= @portfolio.updated_at.strftime("%A, %B %d, %Y at %I:%M %p")%>
            </p>
        </div>
    </div>
    <div>

        <%= link_to 'Buy Stock', buy_portfolio_path(:stocksymbol => @portfolio.stock_symbol), class: "rounded p-2 m-4 bg-green-600 text-white"%>
        <%= link_to 'Sell Stock', sell_portfolio_path(:stocksymbol => @portfolio.stock_symbol),class: "rounded p-2 m-4 bg-red-600 text-white"%>
        <%= link_to 'Back', portfolios_path, class: "rounded p-2 m-4 bg-slate-600 text-white"%>
        
    </div>
</div>

