<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">All Traders</h1>
    <%= link_to 'Add New Trader', new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="users" class="min-w-full">
    <ul>
    <% @traders.each do |trader| %>
      <li>
          <%= link_to  trader.email, user_path(trader)%>
          
          <span class="ms-2 mt-2 col text-center">
            <%=  trader.role %> 
          </span>

          <span class="ms-2 col text-center btn btn-dark border rounded-pill">
             <%= trader.portfolios.count %> stocks
          </span>
      </li>
    <% end %>
  </ul>
  </div>
</div>
